* {
    margin: 0px 0px;
    padding:0px;
}


nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-itens: center;
}

.navbar-img {
    width: 160px;
}

.App {
    text-align: center;
}

.searchbar-container {
    display: flex;
    gap: 4vw;
    margin: 0px auto;
    padding: 0 20px;
    align-itens: center;
}

.searchbar {
    background-color: white;
    margin-right: 20px;
}

.searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
    border-radius: 3px;
    border: none
}

.search-btn {
    background-color: #0e6f9f;
    border: none;
    border-radius: 10px;
    height: 44px;
    color: white;
    padding: 10px 12px;
}

.pokedex-header {
    display:flex;
    flex-derection: row;
    justify-content:space-between;
    align-itens:center;
    padding: 10px;
}

.pokedex-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr)
}

.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px (0, 0, 0, 0.25);
    color: white;
}

.pokemon-image {
    
    widht: 70px;
    height: 70px;
    margin-right: 10px;
}

.pokemon-image-container {
    padding: 12px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    flex: 1;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-top h3 {
    text-transform: captalize;
}

.card-bottom {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}


.pokemon-type-text {
    height: 15px;
    width: 10vw;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 1px;
    font-size: 12px;
}

.pokemon-type {
    padding: 0px;
}

.pokemon-heart-btn {
display: flex;
 position: relative;
 right: 20px;
}

.pagination-container {
    display: flex;
    gap: 4px;
    border: none;
    background: white;
   
}

.paination-container-left {
  border: none;
  background: transparent no-repeat; 
}
.paination-container-right {

}

